{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block about %}
<div class="container border border-dark mt-5 mb-3 ">
    <h1 class="text-center mt-4 pb-2">About Us</h1>
    <div class="row1 mt-5 d-flex">
        <div class="col-sm-6">
            <div class="card text-center" style="margin-left: 50px;margin-right: 50px;">
                <img src="https://static.wixstatic.com/media/dabb20_e00c264ce472429084ae798c8fccaf70~mv2.jpg/v1/fill/w_640,h_660,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/dabb20_e00c264ce472429084ae798c8fccaf70~mv2.jpg" class="card-img-top" alt="..." style="margin-top: 10px; margin-left: 200px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center" style="margin-right: 50px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREuUbV2W5vJFzuH2MhwQR57glHcFyN9SIw4Q&usqp=CAU" class="card-img-top" alt="..."  style="margin-top: 10px; margin-left: 200px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>


    <div class="row2 mt-3 d-flex pb-3">
        <div class="col-sm-6 ">
            <div class="card text-center" style="margin-left: 50px;margin-right: 50px;">
                <img src="https://www.heart.org/-/media/Images/News/2022/August-2022/0811DentistHealth_SC.jpg" class="card-img-top" alt="..." style="margin-top: 10px; margin-left: 200px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center" style="margin-right: 50px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjgbs1HlRY6s0xLBW3T953cQ_LUFOLXUFGAQ&usqp=CAU" class="card-img-top" alt="..." style="margin-top: 10px; margin-left: 200px;width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock about %}