{% extends 'base.html' %}
{% load static %}
{% block title %}Testimonials{% endblock title %}

{% block testimonials %}
<div class="container mt-5">
  <h1 class="text-center mb-3">Testimonials</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Rohit Nagre</h5>
              <p class="card-text">It is a very nice hospital</p>
              {% comment %} <a href="#" class="btn btn-primary">Date & Time</a> {% endcomment %}
              <p class="text-center"><b>Posted on,</b>21 Feb, 2023</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Rushiraj Chaudhari</h5>
              <p class="card-text">It is a very nice hospital</p>
              {% comment %} <a href="#" class="btn btn-primary">Date & Time</a> {% endcomment %}
              <p class="text-center"><b>Posted on,</b>21 Feb, 2023</p>

            </div>
          </div>
        </div>
      </div>

      <br>


      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Nikita Rade</h5>
              <p class="card-text">It is a very nice hospital</p>
              {% comment %} <a href="#" class="btn btn-primary">Date & Time</a> {% endcomment %}
              <p class="text-center"><b>Posted on,</b> 21 Feb, 2023</p>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Jigisha Ghanekar</h5>
              <p class="card-text">It is a very nice hospital</p>
              {% comment %} <a href="#" class="btn btn-primary">Date & Time</a> {% endcomment %}
              <p class="text-center"><b>Posted on,</b>21 Feb, 2023</p>

            </div>
          </div>
        </div>
      </div>

      <br>

      {% comment %} <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Reply</p>
              <a href="#" class="btn btn-primary">Date & Time</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Reply</p>
              <a href="#" class="btn btn-primary">Date & Time</a>
            </div>
          </div>
        </div>
      </div> {% endcomment %}



          
    </div>
</div>
{% endblock testimonials %}